.faq-accordion {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.faq-element1 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.faq-details1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.faq-text10 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
 
.faq-text11 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 24px;
  user-select: text;
}
 
.faq-element2 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.faq-details2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.faq-text12 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
 
.faq-text13 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
 
.faq-element3 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.faq-details3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.faq-text14 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
 
.faq-text15 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
 
.faq-element4 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.faq-details4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.faq-text16 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
 
.faq-text17 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
 
.faq-element5 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.faq-details5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.faq-text22 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
 
.faq-text23 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
 
.faq-element6 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.faq-details6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.faq-text27 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
 
.faq-text28 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
 

 
@media(max-width: 1600px) {
  .faq-text10 {
    color: rgb(255, 255, 255);
  }
  .faq-text11 {
    color: rgb(204, 204, 204);
  }
  .faq-text12 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
  }
  .faq-text13 {
    color: rgb(204, 204, 204);
    font-family: Poppins;
    line-height: 28px;
  }
  .faq-text14 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
  }
  .faq-text15 {
    color: rgb(204, 204, 204);
  }
  .faq-text16 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
  }
  .faq-text22 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
  }
  .faq-text23 {
    color: rgb(204, 204, 204);
    font-family: Poppins;
    line-height: 28px;
  }
  .faq-link1 {
    text-decoration: underline;
  }
  .faq-link2 {
    text-decoration: underline;
  }
  .faq-text27 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
  }
  .faq-text28 {
    color: rgb(204, 204, 204);
    font-family: Poppins;
    line-height: 28px;
  }
}
 
@media(max-width: 767px) {
  .faq-text10 {
    font-size: 16px;
    line-height: 24px;
  }
  .faq-text12 {
    font-size: 16px;
    line-height: 24px;
  }
  .faq-text14 {
    font-size: 16px;
    line-height: 24px;
  }
  .faq-text16 {
    font-size: 16px;
    line-height: 24px;
  }
  .faq-text22 {
    font-size: 16px;
    line-height: 24px;
  }
  .faq-text27 {
    font-size: 16px;
    line-height: 24px;
  }
}
